.course{
    background-color: #21409A;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.0rem;
    margin-bottom: 1.5rem;
    width: 500px;
    height: 400px;
    flex-shrink: 0;
}


.course_container{
    display: flex;
}

.course_container input,
.course_container button{
    width: 349.4px;
    height: 53.213px;
    flex-shrink: 0;
    color: #000000;
    border-radius: 10.04px;
    background: #D9D9D9;
    border:none;
}

.course_container button{
    cursor: pointer;
    width: 226px;
    height: 53px;
    background:rgba(207, 194, 225, 0.50);
}

