.menu{
    background-color: #21409A;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.0rem;
    width: 500px;
    height: 450px;
    flex-shrink: 0;
}
.menu_container{
display: flex;
}

.menu_container button{
    flex-shrink: 0;
    border-radius: 10.04px;
    background: #D9D9D9;
    border:none;
    cursor: pointer;
    width: 349.4px;
    height: 53px;
    background:rgba(207, 194, 225, 0.50);
}